.container-navbar {
  background-color: white;
  border-bottom: 1px solid;
  color: #dee2e6;
  margin-bottom: 15px;
}
.nav-navbar {
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 1rem;
}

.search-navbar {
  margin-left: 1rem;
}
.search-navbar-input {
  border-radius: 2rem !important;
}
